.type {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  margin-bottom: 20px;

  &__title {
    color: #263238;
    font-family: $montserrat;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 18px;
  }

  >ul, div, form {
    border-top: 1px solid #dde3e8;
    padding: 15px 0;
  }

  &__list-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
    font-size: 15px;
    transition: color .2s ease-out;

    &:hover {
      color: $secondary-color;
    }

    &:last-child {
      padding-bottom: 0;
    }

    &::before {
      content: '';
      display: block;
      width: 14px;
      height: 16px;
      margin-right: 4px;
      background: url(../../img/angle-right-green.svg) no-repeat center / contain;
    }
  }

  &__list-item-name {
    width: 90%;
    margin-right: auto;
  }

  &__list-item-count {
    color: $gray;
  }

  &__input {
    font-size: 15px;
    border: 1px solid #d7d7d7;
    border-radius: 6px;
    padding: 6px 12px;
  }
}